.body-menu {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}

.menu-container {
    margin-top: 50px;
}

.menu-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu-item .btn {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #007bff;
    transition: background-color 0.3s ease;
}

    .menu-item .btn:hover {
        background-color: #0056b3;
    }

.card {
    max-width: 800px;
    margin: 150px auto; /* Alinea el contenedor al centro vertical y horizontal */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinea el contenido al centro */
    position: relative;
    overflow: hidden;
    background-size: cover; /* Ajusta el tamaño de la imagen */
    border-radius: 15px; /* Bordes más redondeados */
}




